.footer{
    background-color: #131C3F;
    color: #EBFFEB;
    padding: 3em;
    text-align: center;
    bottom: 0;
    height: 140px;
    width: 100%;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.social_list{
    display: flex;
    justify-content: center;
    list-style: none;
}

.social_list li{
    margin: 0 1em;
}

.social_list li:hover{
    color: #FE5D26;
}

.social_list svg{
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right{
    margin-top: 2em;
}

.copy_right span{
    font-weight: bold;
    color: #FE5D26;
}