.btn {
  background-color: #222;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  padding: 0.5em;
  border-radius: 1em;
  box-shadow: inset rgb(55, 53, 53);
}

.btn:hover {
  color: #fe5d26;
}
