.navbar {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  background-color: #131c3f;
  padding: 1em;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-self: center;
}

.item {
  margin-right: 1em;
}

.item a {
  color: #ebffeb;
  text-decoration: none;
}

.item a:hover {
  color: #fe5d26;
}
.start {
  justify-content: flex-start;
}

.navbar img {
  width: 80px;
  height: 80px;
  transition: 0.5s;
}

.navbar img:hover {
  width: 100px;
  height: 100px;
}
